/* Html, Body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1D267D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    min-height:100%;
    position: relative;
}

/*
**************************

Section for Header style

**************************
*/

header{
    width:100%;
    height:77px;
    background-color: #1D267D;
    border-bottom: 3px solid #D4ADFC;
}
header h1{
    margin-top: 0;
    padding: 20px 0 0 60px;
    color: #FFF;
}

/*
**************************

Section for Main style

**************************
*/
main{
    width: auto;
    height: auto;
    margin-top: 5%;
}

main > section{
    color: #FFF;
    font-size: 30px;
    float: left;
}

.bio-box{
    background-color: #5C469C;
    margin-left: 8%;
    width: 750px;
    padding: 20px;
    border-radius: 10%;
}

.bio-box > p{
    font-size: 20px;
}

nav {
    height: 50px;
    width: auto;
    float: right;
}

nav span {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

nav span a{
    padding: 5px;
    background-color: #0C134F;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    border-radius: 20%;
}

nav span a:hover{
    background-color: #D4ADFC;
    color: #000;
    transition: 0.5s;
}

.a-active{
    background-color: #D4ADFC;
    color: #000;
}

.img-box{
    margin-left: 6%;
    margin-top: 1%;
    width: 250px;
}
.img-box > img{
    width: 250px;
    height: 250px;
    border-radius: 20%;
    border: 3px solid #D4ADFC;
}

.img-box > form{
    text-align: center;
}
.img-box > form > button{
    padding: 10px;
    background-color: #D4ADFC;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #D4ADFC;
}

.img-box > form > button:hover{
    background-color: #0C134F;
    color: #FFF;
    transition: 0.5s;
    cursor: pointer;
}

/*
**************************

Section for Footer style

**************************
*/

footer{
    position: fixed;
    bottom:0;
    width:100%;
    height:40px;
    padding-top: 15px;
    background-color: #1D267D;
    border-top: 3px solid #D4ADFC;
    color: #FFF;
    text-align: center;
    font-size: 20px;
}